{% extends "base.twig" %}
{% block body %}
    <div id="content" class="container page-error error-404">
        <header>
            <h1 class="page-title">Home</h1>
        </header>
        <section id="content-section" class="container">
            {{ content | raw }}
        </section>
    </div>
{% endblock %}